.galleryPost{
  display: flex;
  justify-content: space-between;
}
.mainImage div img{
  width: 100%;
}


.sideImageWrapper div{
  width: 100%;
  height: 100%;

}

.sideImageWrapper div img{
  width: 100%;
  object-fit: cover;
  max-height: 100%;
}

.HomeContainer{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
